<div style="background-color:transparent !important" class="jumbotron  vertical-center">
  <h1>Welcome to Signet!</h1>
  <p>Signet is a simple way to send files to others. Log in and create a new envelope, optionally attach a password, and select the files you want to upload and the longevity of the files. The new envelope will consist of the uploaded files and a specific slug that can be used to easily access the files. </p>
</div>



<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <%= form_tag('/search', method: 'post') do %>
    <%= text_field_tag :slug, nil, class: 'form-control center-block', placeholder: 'Enter envelope slug' %>
    <%= submit_tag "Find an Envelope", class:'btn btn-default btn-lg center-block'  %><br><br>
    <% end %>
  </div>
</div>






