<h2>You are attempting to visit a protected envelope. Please enter the password</h2>
<%= form_tag( params[:slug] + "/password", method: "post") do %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Enter") %>
<% end %>