<h2>You are attempting to visit a protected envelope. Please enter the password</h2>
<%= form_tag( params[:slug] + "/password", method: "post") do %>
  <%= label_tag(:password, "Password:") %>
    <%= password_field_tag :password , nil, class: 'form-control', placeholder: 'Enter envelope password' %>
  <%= submit_tag "Enter", class: 'btn btn-default' %>
<% end %>