//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cosmo/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 0px; }

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";

// Whatever application styles you have go last
@import "screen";

input#file_input {
  display: inline-block;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://cdn4.iconfinder.com/data/icons/miu/22/cloud_cloud-upload-512.png') center center no-repeat #e4e4e4;
  background-size: 150px 100px;
}